wal/
fontconfig/
font-manager/
google-chrome/
nvim/.netrwhist
dconf/
okularrc
configstore/
htop/
vlc/
ranger/
menus/
qBittorrent/
galculator/
pulse/
procps/
coc/
flameshot/
QtProject.conf
nvim/plugged
mimeapps.list
wireshark/
.gitignore

